[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
art = "==5.7"
beautifulsoup4 = "==4.11.1"
colorama = "==0.4.4"
requests = "==2.27.1"

[dev-packages]

[requires]
python_version = "3.8"
